Repository Devil-Training-Camp/virtual-scroll-list-liudingkang: changes, and which lint-staged commands are due for each by the changed paths.
All: ls-lint, eslint --fix, stylelint --fix

build(build): build
  .eslintignore
  .eslintrc.cjs
  .lintstagedrc
  build/bin.js
  build/commands/dev.js
  build/common/utils.js
  build/compiler/compile-module.js
  build/compiler/compile-style.js
  build/compiler/compile-types.js
  build/compiler/complie-sass.js
  build/compiler/complie-script.js
  build/compiler/complie-sfc.js
  build/compiler/gen-module-entry.js
  build/config/rollup.base.config.js
  build/config/rollup.dev.config.js
  build/config/rollup.prod.config.js
  demo/App.vue
  demo/main.ts
  package.json
Due: ls-lint, eslint --fix, stylelint --fix

build(build): build
  build/bin.js
  pnpm-lock.yaml
Due: ls-lint, eslint --fix

feat(src): list
  .eslintignore
  .eslintrc.cjs
  .ls-lint.yml
  package.json
  pnpm-lock.yaml
  src/hooks/common/useResizeObserver.js
  src/hooks/useRO.js
  src/hooks/useRenderer.js
  src/hooks/useScroller.js
  src/packages/dynamic-list/props.ts
  src/packages/fixed-size-list/fixed-size-list.vue
  src/packages/list-item/index.ts
  src/packages/list-item/list-item.vue
  src/packages/list-item/props.ts
  src/utils/index.ts
  src/utils/optimize.ts
  tsconfig.json
Due: ls-lint, eslint --fix, stylelint --fix

feat(src): src
  .lintstagedrc
  .ls-lint.yml
  src/hooks/common/useResizeObserver.js
  src/hooks/useResizeObserver.ts
  src/hooks/useScroller.js
  src/hooks/useScroller.ts
  src/packages/dynamic-list/dynamic-list.vue
  src/packages/dynamic-list/useRO.ts
  src/packages/fixed-size-list/fixed-size-list.vue
  src/packages/fixed-size-list/props.ts
  src/packages/fixed-size-list/useRenderer.ts
  src/packages/list-item/list-item.vue
  src/utils/base.ts
  src/utils/optimize.ts
Due: ls-lint, eslint --fix, stylelint --fix

feat(src): build list
  .eslintignore
  .eslintrc.cjs
  .lintstagedrc
  .ls-lint.yml
  build/compiler/complie-sfc.js
  build/config/style-deps.json
  package.json
  pnpm-lock.yaml
  src/hooks/useResizeObserver.ts
  src/hooks/useScroller.ts
  src/packages/dynamic-list/dynamic-list.vue
  src/packages/dynamic-list/useRO.ts
  src/packages/fixed-size-list/fixed-size-list.vue
  src/packages/fixed-size-list/props.ts
  src/packages/fixed-size-list/useRenderer.ts
  src/packages/fixed-size-list/useScroller.ts
  src/packages/list-item/list-item.vue
  src/packages/list-item/props.ts
  src/utils/optimize.ts
Due: ls-lint, eslint --fix, stylelint --fix

build(build): build
  .eslintrc.cjs
  build/config/rollup.dev.config.js
  build/config/rollup.prod.config.js
  demo/App.vue
  demo/main.ts
  package.json
  pnpm-lock.yaml
  src/packages/dynamic-list/dynamic-list.vue
  src/packages/fixed-size-list/fixed-size-list.vue
  src/packages/fixed-size-list/props.ts
  src/packages/list-item/list-item.vue
  src/packages/list-item/props.ts
  tsconfig.declaration.json
  tsconfig.json
Due: ls-lint, eslint --fix, stylelint --fix

feat(dynamic-list): list
  build/config/rollup.dev.config.js
  build/config/rollup.prod.config.js
  demo/App.vue
  demo/index.html
  demo/main.ts
  package.json
  pnpm-lock.yaml
  src/packages/dynamic-list/dynamic-list.vue
  src/packages/dynamic-list/useRO.ts
  src/packages/fixed-size-list/fixed-size-list.vue
  src/packages/fixed-size-list/props.ts
  src/packages/fixed-size-list/useRenderer.ts
  src/packages/fixed-size-list/useScroller.ts
  src/packages/list-item/list-item.vue
  src/packages/list-item/props.ts
  src/utils/index.ts
  tsconfig.declaration.json
  tsconfig.json
Due: ls-lint, eslint --fix, stylelint --fix

docs(docs): add docs
  .eslintignore
  .gitignore
  .ls-lint.yml
  demo/demo1.vue
  demo/demo2.vue
  demo/main.ts
  docs/.vitepress/config.ts
  docs/api-examples.md
  docs/index.md
  docs/markdown-examples.md
  package.json
  pnpm-lock.yaml
  src/hooks/useResizeObserver.ts
  src/packages/fixed-size-list/docs/zh-CN.md
  src/packages/fixed-size-list/fixed-size-list.vue
  src/packages/fixed-size-list/useRenderer.ts
  src/packages/list-item/list-item.vue
Due: ls-lint, eslint --fix, stylelint --fix

docs(docs): docs i18n
  .ls-lint.yml
  docs/.vitepress/config.ts
  docs/.vitepress/locales/en-US.ts
  docs/.vitepress/locales/zh-CN.ts
  docs/.vitepress/utils/path.ts
  docs/.vitepress/utils/types.ts
  docs/api-examples.md
  docs/en-US/index.md
  docs/en-US/overview.md
  docs/markdown-examples.md
  docs/zh-CN/index.md
  docs/zh-CN/overview.md
  src/packages/fixed-size-list/docs/en-US.md
  tsconfig.json
Due: ls-lint, eslint --fix

build(docs): components docs
  docs/.vitepress/config.ts
  docs/.vitepress/generator.ts
  docs/.vitepress/locales/en-US.ts
  docs/.vitepress/locales/zh-CN.ts
  docs/.vitepress/types.ts
  docs/.vitepress/utils/path.ts
  docs/.vitepress/utils/types.ts
  docs/en-US/index.md
  docs/zh-CN/index.md
  src/packages/compose-list/docs/en-US.md
  src/packages/compose-list/docs/zh-CN.md
  src/packages/dynamic-list/docs/en-US.md
  src/packages/dynamic-list/docs/zh-CN.md
  src/packages/fixed-size-list/docs/en-US.md
  src/packages/list-item/docs/en-US.md
  src/packages/list-item/docs/zh-CN.md
Due: ls-lint, eslint --fix

build(docs): docs
  docs/.vitepress/config.ts
  docs/.vitepress/generator.ts
  docs/.vitepress/theme/index.ts
  package.json
  pnpm-lock.yaml
  src/packages/fixed-size-list/example/index.vue
  src/packages/list-item/props.ts
Due: ls-lint, eslint --fix, stylelint --fix

docs(docs): docs
  docs/.vitepress/config.ts
  docs/.vitepress/theme/custom-demo.vue
  docs/.vitepress/theme/index.ts
  package.json
  pnpm-lock.yaml
  src/packages/fixed-size-list/docs/zh-CN.md
  src/packages/fixed-size-list/example/index.vue
Due: ls-lint, eslint --fix, stylelint --fix

docs(docs): docs
  .vscode/launch.json
  docs/.vitepress/config.ts
  docs/.vitepress/md-table-plugin.ts
  docs/.vitepress/theme/custom-demo.vue
  docs/.vitepress/theme/custom.scss
  docs/.vitepress/theme/index.ts
  src/index.ts
  src/packages/compose-list/compose-list.vue
  src/packages/compose-list/docs/en-US.md
  src/packages/compose-list/docs/zh-CN.md
  src/packages/compose-list/index.ts
  src/packages/dynamic-list/docs/en-US.md
  src/packages/dynamic-list/docs/zh-CN.md
  src/packages/dynamic-list/example/click.vue
  src/packages/dynamic-list/example/index.vue
  src/packages/dynamic-list/example/load.vue
  src/packages/dynamic-list/index.ts
  src/packages/fixed-size-list/docs/en-US.md
  src/packages/fixed-size-list/docs/zh-CN.md
  src/packages/fixed-size-list/example/load.vue
  src/packages/fixed-size-list/props.ts
  src/styles/animate.css
  src/styles/base.scss
Due: ls-lint, eslint --fix, stylelint --fix

build(build): exclude example
  build/commands/build.js
  build/common/constant.js
Due: ls-lint, eslint --fix

build(build): build
  build/commands/dev.js
  package.json
Due: ls-lint, eslint --fix

build(all): vitepress eslint
  .eslintignore
  .ls-lint.yml
  .stylelintignore
  build/tsconfig.json
  demo/main.ts
  demo/src/demo1.vue
  demo/src/demo2.vue
  demo/tsconfig.json
  docs/.vitepress/config.ts
  docs/.vitepress/generator.ts
  docs/.vitepress/locales/en-US.ts
  docs/.vitepress/locales/zh-CN.ts
  docs/.vitepress/theme/index.ts
  docs/.vitepress/types.ts
  docs/tsconfig.json
  src/index.ts
  tsconfig.declaration.json
  tsconfig.json
Due: ls-lint, eslint --fix, stylelint --fix

build(build): build
  tsconfig.declaration.json
Due: ls-lint

build(build): sfc bundler
  build/compiler/complie-sfc.js
  src/packages/fixed-size-list/fixed-size-list.vue
Due: ls-lint, eslint --fix, stylelint --fix

build(build): build
  build/config/config.js
  build/config/style-deps.json
Due: ls-lint, eslint --fix

docs(doc): docs
  docs/.vitepress/locales/en-US.ts
  docs/.vitepress/locales/zh-CN.ts
Due: ls-lint, eslint --fix

docs(docs): docs
  src/packages/dynamic-list/docs/zh-CN.md
  src/packages/fixed-size-list/docs/zh-CN.md
Due: ls-lint

test(test): test
  .ls-lint.yml
  docs/.vitepress/config.ts
  package.json
  pnpm-lock.yaml
  src/packages/fixed-size-list/__tests__/index.spec.ts
  vite.config.ts
Due: ls-lint, eslint --fix

test(test): test
  build/bin.js
  build/commands/test.js
  build/common/constant.js
  build/config/vite.config.ts
Due: ls-lint, eslint --fix

test(test): test
  build/commands/test.js
  build/config/vitest.config.ts
  package.json
  src/packages/fixed-size-list/__tests__/index.spec.ts
  src/packages/fixed-size-list/useRenderer.ts
Due: ls-lint, eslint --fix

test(test): test
  build/commands/test.js
  build/config/vitest.config.ts
  package.json
  pnpm-lock.yaml
  src/packages/dynamic-list/dynamic-list.vue
  src/packages/fixed-size-list/__tests__/index.spec.ts
  src/packages/fixed-size-list/fixed-size-list.vue
  src/packages/fixed-size-list/useScroller.ts
Due: ls-lint, eslint --fix, stylelint --fix

test(fixed-size-list test): fixed-size-list test
  build/config/vitest.config.ts
  package.json
  pnpm-lock.yaml
  src/packages/fixed-size-list/__tests__/index.spec.ts
  src/packages/fixed-size-list/useScroller.ts
  src/utils/index.ts
  src/utils/test.ts
Due: ls-lint, eslint --fix

test(tesy): test
  .gitignore
  build/config/vitest.config.ts
  src/packages/dynamic-list/__tests__/index.spec.ts
  src/packages/fixed-size-list/__tests__/index.spec.ts
Due: ls-lint, eslint --fix

test(test dynamic-list): test dynamic-list
  package.json
  pnpm-lock.yaml
  src/packages/dynamic-list/__tests__/index.spec.ts
  src/utils/test.ts
Due: ls-lint, eslint --fix

test(utils test): utils test
  .vscode/launch.json
  demo/main.ts
  src/__tests__/index.spec.ts
  src/index.ts
  src/packages/dynamic-list/__tests__/__snapshots__/index.spec.ts.snap
  src/packages/dynamic-list/__tests__/index.spec.ts
  src/packages/dynamic-list/dynamic-list.vue
  src/packages/fixed-size-list/__tests__/__snapshots__/index.spec.ts.snap
  src/packages/fixed-size-list/__tests__/index.spec.ts
  src/packages/fixed-size-list/fixed-size-list.vue
  src/packages/fixed-size-list/useRenderer.ts
  src/utils/__tests__/optimize.spec.ts
  src/utils/index.ts
  src/utils/optimize.ts
Due: ls-lint, eslint --fix, stylelint --fix

chore(发布配置): 发布配置
  .npmrc
Due: ls-lint

build: release v6.1.0
  CHANGELOG.md
  package.json
Due: ls-lint

build: release v6.1.1
  CHANGELOG.md
  package.json
Due: ls-lint

build(build): deps ext
  build/compiler/complie-script.js
  build/compiler/get-deps.js
Due: ls-lint, eslint --fix

build: release v6.1.2
  CHANGELOG.md
  package.json
Due: ls-lint

docs(docs): docs
  README.md
  package.json
  pnpm-lock.yaml
  src/packages/dynamic-list/docs/en-US.md
  src/packages/dynamic-list/docs/zh-CN.md
Due: ls-lint

build: release v6.1.3
  CHANGELOG.md
  package.json
Due: ls-lint

style(style): remove useless styles
  build/config/rollup.dev.config.js
  src/packages/list-item/list-item.vue
  src/styles/animate.css
  src/styles/base.scss
Due: ls-lint, eslint --fix, stylelint --fix

build: release v6.1.4
  CHANGELOG.md
  package.json
Due: ls-lint

chore(license): license
  LICENSE
  package.json
Due: ls-lint

build: release v6.1.5
  CHANGELOG.md
  package.json
Due: ls-lint

Path conditions:
  ls-lint: any of: *
  eslint --fix: any of: **/*.{js,vue,ts}
  stylelint --fix: any of: {src,demo}/**/*.{css,scss,sass,vue}
